@page "/articles/{*ArticleId}/"

<div>
    @if (@ArticleContentGet == null)
{
    <Card Hoverable="true" Loading="true"></Card> }
else
{
    <BadgeRibbon Placement="end">
        <TextTemplate>
            <Icon Type="clock-circle" Theme="outline" /> @ArticleContentGet.PostTime | <Icon Type="read" Theme="outline" /> @ArticleContentGet.Read
        </TextTemplate>
        <ChildContent>
            <Card Hoverable="true">
                <TitleTemplate>
                    <Icon Type="credit-card" Theme="outline" /> @ArticleContentGet.Title
                </TitleTemplate>
                <Body>
                <p>@ArticleContentGet.Content</p>
                </Body>
                <ActionTemplate>
                    @if (!string.IsNullOrWhiteSpace(ArticleContentGet.Category))
                    {
                        <span Style="margin: 6px">
                            <Tag Color="orange-inverse">@ArticleContentGet.Category</Tag>
                        </span>}
                    <Tag Color="magenta"><Icon Type="user" Theme="outline" /> @ArticleContentGet.Author</Tag>
                    <Tag OnClick="@LikeThisArticleAsync" Color="magenta"><Icon Type="like" Theme="outline" /> @ArticleContentGet.Like</Tag>
                </ActionTemplate>
            </Card>
        </ChildContent>
    </BadgeRibbon>
        <br />
        <div>
            <ReplyInputComponent ArticleId="@ArticleId" Replies="@ReplyListGet"></ReplyInputComponent>
        </div>

        <br />
        <div>
            <ReplyListComponent Replies="@ReplyListGet"></ReplyListComponent>
        </div>
}
</div>
