@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using DotBlog.Blazor.Dto

<Card Hoverable="true">
    <Form Model="@_newReply"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          LabelColSpan="8"
          Layout="@FormLayout.Vertical">

        <InputGroup Compact="true">
            <FormItem Label="Name">
                <Input @bind-Value="@context.Author">
                    <Prefix>
                        <Icon Type="user" />
                    </Prefix>
                </Input>
            </FormItem>
            <FormItem Label="Link">
                <Input @bind-Value="@context.Link">
                    <Prefix>
                        <Icon Type="link" />
                    </Prefix>
                </Input>
            </FormItem>
            <FormItem Label="Mail">
                <Input @bind-Value="@context.Mail">
                    <Prefix>
                        <Icon Type="mail" />
                    </Prefix>
                </Input>
            </FormItem>
        </InputGroup>
        <br />
        <InputGroup>
        <FormItem Label="Content">
            <TextArea MinRows="5" Placeholder="Write you reply here!" @bind-value="@context.Content" AllowClear="true" />
        </FormItem>
        </InputGroup>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                回复
            </Button>
        </FormItem>
    </Form>
</Card>
