@using DotBlog.Shared.Dto

<Card Title="@CardTitle" Hoverable="true">
    <AntList DataSource="@Replies" TItem="ReplyContentDto" Class="comment-list">
        <ListItem>
            <Comment Actions="new List<RenderFragment>() {_replyAction}"
                     Avatar="@context.AvatarUrl"
                     Author="@context.Author"
                     Datetime="@context.ReplyTime"
                     Content="@context.Content">
            </Comment>
        </ListItem>
    </AntList>
</Card>

@code{
    private readonly RenderFragment _replyAction = @<span>回复</span>;
}
